<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Life's Tutor</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="form">
                <div class="form-group">
                    <input type="text" placeholder="Products" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="tab in tabCtrl.tabs"><a href="{{tab.url}}" ng-click="tabCtrl.selectTab(tab.name)">{{tab.label}}</a></li>
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown">Sign-in <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/myshops">My Shops</a></li>
                        <li><a href data-toggle="modal" data-target="{{ tabCtrl.signupModalId }}">Sign Up</a></li>
                        <li><a href data-toggle="modal" data-target="{{ tabCtrl.loginModalId }}">Login</a></li>
                        <li><a href="#/logout">Logout</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</div>