<div class="container">
    <div class="row">
        <div class="col-md-10">
            <my-items></my-items>
        </div>

        <div class="col-md-2">
            <div>
                <h3>Marvel Comics</h3>
                <h4>$2,800.00</h4>
                <p>Donec id elit non mi porta gravida at eget metus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <hr />
            <div>
                <h3>4-2-1 and Ramhorn Headers</h3>
                <h4>$4,500.00</h4>
                <p>Donec id elit non mi porta gravida at eget metus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>