<div class="container">
    <div class="row">
        <div class="col-md-10">
            <my-shops></my-shops>
        </div>

        <div class="col-md-2">
            <div>
                <h3>World of Batman</h3>
                <h4>$8,000.00</h4>
                <p>Kirem ipsum dolor sit mmmet. Donec id elit non mi porta gravida at eget metus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <hr />
            <div>
                <h3>Tuner's Performance Muffler</h3>
                <h4>$2,899.00</h4>
                <p>Lorem Donec id elit non mi porta gravida at eget metus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>