<div class="container">
    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Home Page</h3>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div>
                <h3>Ads 1</h3>
                <h4>$1,000.00</h4>
                <p>Donec id elit non mi porta gravida at eget metus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
            <hr />
            <div>
                <h3>Ads 2</h3>
                <h4>$2,500.00</h4>
                <p>Donec id elit non mi porta gravida at eget metus.</p>
                <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>
</div>